/* div.logo img {
  width: 210px;
  float: left;
}

[data-theme="dark"] .site-layout-content {
  background: #000000;
}
[data-theme="dark"] .logo {
  background: rgba(255, 255, 255, 0.3);
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #000000 !important;
}

.ant-layout-header {
  background: #000000 !important;
} */

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* 
.ant-menu-item-selected a, .ant-menu-item-selected a:hover{
  color: #04a9f5!important;
}


.ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after{
  opacity:0;
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color:transparent;
} */