[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "*"
autopep8 = "*"
certifi = "*"
chardet = "*"
defusedxml = "*"
django-allauth = "*"
django-cors-headers = "*"
django-rest-auth = "*"
djangorestframework = "*"
gunicorn = "*"
idna = "*"
lazy-object-proxy = "*"
mccabe = "*"
oauthlib = "*"
pep8 = "*"
pycodestyle = "*"
pylint = "*"
python3-openid = "*"
pytz = "*"
requests-oauthlib = "*"
six = "*"
sqlparse = "*"
typed-ast = "*"
urllib3 = "*"
wrapt = "*"
requests = "*"
isort = "*"
Django = "*"
pillow = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.9"
